<!--  an example menu -->
<!-- generated from builder/templates/rails/menu_container.erb -->
<ul class="breadcrumb nav nav-tabs pull-left">
    
    <li ng-class="{active: routeIs('/')}">
      <a href="#/"><i class="icon-home"></i> Home</a>
    </li>
                
<%  menus.each do |data| %>
     
 <li ng-class="{active: routeIs('<%= data[:route] %>')}">
               
		<a href="<%= data[:route] %>" title="<%= data[:comment] %>">
		<%= data[:model_name].titleize.pluralize %>
		</a>

</li>
<% end %>
      
</ul>