<div class="container" ng-app="mainapp">
    <div ng-include src="'<%%= asset_path('partials/header.html') %>'">
    </div>
    <div id="main" ng-view></div>
    <div ng-include src="'<%%= asset_path('partials/footer.html') %>'">
    </div>
</div>
