<div class="navbar" id="mainFooter">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav nav-pills pull-left">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="http://blog.startupality.com" target="_blank">Blog</a>
                </li>
                <li>
                    <a href="http://www.startupality.com" target="_blank">About</a>
                </li>
                <li class="pull-right">
                    <a href="#">Contact</a>
                </li>
            </ul>
            <ul class="nav nav-pills pull-right">
                <li>
                    <a href="#">Go to top</a>
                </li>
            </ul>

        </div>
    </div>
</div>