<!--  - generated from builder/templates/rails/views/new.html.erb -->
<div class="container-fluid">
    <h1>New <%= singular_table_name %></h1>

    <%%= render 'form' %>

    <%%= link_to 'Back', <%= namespace.nil? ? '' : namespace + '_' %><%= index_helper %>_path %>
</div>